.satu {
  width: 200px;
  height: 200px;
  background-color: #f4a561;
  /* Margin: atas/bawah kanan/kiri */
}

.dua {
  width: 100px;
  height: 100px;
  background-color: lightblue;
}

.tiga {
  width: 50px;
  height: 50px;
  background-color: violet;
}
