html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ddd;
  line-height: 1.5;
  padding-bottom: 500px;
}

/* Latihan 1 */
.container-satu {
  width: 800px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
}

.kolom-utama {
  flex: 3;
  order: 2;
}

.sidebar-satu {
  flex: 1;
  order: 1;
}

.sidebar-dua {
  flex: 1;
  order: 3;
}

/* Latihan 2 */
.container-dua {
  max-width: 800px;
  margin: 50px auto;
}

.layanan {
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.layanan.satu {
  background-color: aqua;
}

.layanan.dua {
  background-color: rgb(120, 120, 248);
}

.layanan.tiga {
  background-color: rgb(254, 147, 147);
}

/* Latihan 3 */
.container-tiga {
  max-width: 800px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.thumbnail {
  width: 50%;
}

.thumbnail img {
  width: 100%;
}

/* Latihan 4 */
/* .container-empat {
  max-width: 800px;
  margin: 50px auto;
  display: flex;
}

.card {
  border: 1px solid #aaa;
  border-radius: 10px;
  background-color: #eee;
  overflow: hidden;
  margin: 10px;
  flex: 1;
}

.card .header {
  height: 150px;
  background-color: #666;
}

.card .content {
  text-align: center;
  padding-bottom: 20px;
}

.card.besar {
  transform: scale(1.12);
} */

/* Latihan 4 */
.container-empat {
  max-width: 800px;
  margin: 50px auto;
  display: flex;
}

.card {
  border: 1px solid #aaa;
  border-radius: 10px;
  background-color: #eee;
  overflow: hidden;
  margin: 10px;
  flex: auto; /* Mengatur lebar card agar sesuai dengan isi*/
}

.card .header {
  height: 150px;
  background-color: #666;
}

.card .content {
  text-align: center;
  padding-bottom: 20px;
}

.card.besar {
  transform: scale(1.12);
}

/* Latihan 5 */
.container-lima {
  width: 500px;
  margin: 50px auto;
  height: 500px;
  border: 5px solid #333;
  display: flex;
}

.kotak {
  width: 100px;
  height: 100px;
  background-color: orange;
  color: white;
  text-align: center;
  line-height: 100px;
  margin: auto;
}

/* Responsif */

@media (max-width: 600px) {
  /* Mengubah kondisi media query */
  .container-empat {
    flex-wrap: wrap;
  }
  .card.besar {
    transform: none;
  }
}

@media (min-width: 576px) {
  .container-dua {
    display: flex;
    justify-content: space-between;
  }

  .layanan {
    width: 30%;
  }

  .thumbnail {
    width: 25%;
  }
}
